table#price-table {
	 width: 650px; 
	 height: 150px; 
}

table#price-table td.noborder { 
    font:solid black; 
    font-size:100%; 
    text-align:left;
} 

table#price-table td {
    border: 5px solid white;
}

table#price-table td.tabled {
    padding: 10px;
    -webkit-border-radius: 15px;
    width: 100px;
}

table#price-table tr.tab-text {
	text-align: center;
}